/***** Content *****/

//global
body {
  background-color: $white;
}


/*** homepage ***/
aside.mw-feature {
  background: url( $images + "hero-image-2.jpg") no-repeat center center;
  background-size: cover;
  margin-left: -1px;
  padding-top: $padding * 8;
  padding-bottom: $padding * 2;

  p.mw-feature-text {
    color: $white;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    strong {
      font-weight: 900;
      background-color: $bluedark;
      padding: 0 10px;
    }
  }
}

.home div.entry-content {
  padding: 0;
  text-align: center;

  div.col-sm-4, div.col-sm-8 {
    padding-bottom: $padding * 3;
    padding-top: $padding * 3;
  }

  &:before {
  }

  @media (min-width: $break-small) {
    text-align: left;
  }
}

// tab sections
.mw-tabs {
  background: $greylight;
  position: relative;

  .mw-tabs-head {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .mw-tab {
    position: relative;
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    margin: 0;
    cursor: pointer;

    a {
      color: $header;
      text-decoration: none;
      padding-top: $padding;
      padding-bottom: $padding;
      display: block;
    }

    &:hover {
      background: rgba($purple, 0.3);

      a {
        color: $white;
      }
    }

    &.mw-tab-left:hover {
      background: rgba($red, 0.3);
    }

    &.mw-tab-right:hover {
      background: rgba($blue, 0.3);
    }

    &.active {
      background: rgba($purple, 0.6);

      &:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: 20px solid transparent;
        border-top-color: $purplelight;
        left: 50%;
        margin-left: -20px;
      }

      &:hover{
        background: rgba($purple, 0.6);
      }

      a {
        color: $white;
      }
    }

    &.mw-tab-left.active {
      background: rgba($red, 0.6);
      &:after {
        border-top-color: $redlight;
      }
      &:hover{
        background: rgba($red, 0.6);
      }
    }
    &.mw-tab-right.active {
      background: rgba($blue, 0.6);
      &:after {
        border-top-color: $bluelight;
      }
      &:hover{
        background: rgba($blue, 0.6);
      }
    }
  }
}

.mw-tab-section {
  background: $purple;
  color: rgba($white, 0.8);
  padding: ($padding * 4) 0;
  min-height: 450px;

  &#mw-section-left {
    background: $red;
  }
  &#mw-section-right {
    background: $blue;
  }

  .mw-tab-heading {
    color: $white;
    text-transform: uppercase;
  }
}

.mw-tab-form {
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
  position: relative;

  form {
    width: 90%;
    float: right;
    background: $greylight;
  }

  .mw-tab-form-header {
    width: 100%;
    background: $header;
    padding: $padding;

    h3, p {
      padding: 0;
      margin: 0;
      color: $white;
    }

    h3, .mw-submit {
      font-size: 1.3rem;
    }
  }

  .mw-tab-form-section {
    padding: $padding;

    input, select {
      color: $header;
      border: 1px solid $header;
      background: transparent;
      margin: 0 0 $padding 0;
      width: 100%;
      padding: $padding / 2;
      font-size: 0.9rem;
    }

    ::placeholder {
      color: $header;
    }

    .wpcf7-submit {
      background: $green;
      color: $header;
      font-weight: 500;
      border: 1px solid $green;
      width: 50%;
      margin: 0;

      &:hover {
        background: $header;
        color: $green;
        border-color: $header;
      }

      &:active {
        background: transparent;
        color: $header;
        border-color: $header;
      }
    }
    .wpcf7-not-valid-tip {
      display: none;
    }
    .wpcf7-not-valid {
      border-color: $red;
    }

    .wpcf7-response-output {
      padding: 0;
      border: none !important;
      font-size: 1.1rem;
      font-weight: 700;

      &.wpcf7-validation-errors {
        color: $red;
      }

      &.wpcf7-mail-sent-ok {
        color: $blue;
      }
    }
  }
}

// main sections
.home .mw-section-heading {
  color: $white;
  text-transform: uppercase;
  padding: ($padding * 2) 0;
}

.home .mw-section-body {
  padding-bottom: ($padding * 2);
}

.home .mw-section-green {
  background: $green;
  position: relative;

  .mw-work-samples {
    padding-top: $padding * 2;
    padding-bottom: $padding * 2;

    .mw-work-sample {
      width: 33%;
      height: 200px;
      float: left;

      .mw-work-sample-link {
        width: 100%;
        height: 100%;
        display: block;
        background-position: center center !important;
        background-size: cover !important;
        position: relative;
        z-index: 1;
        transition: filter $time, transform $time;

        &:hover {
          transform:scale(1.1);
          z-index: 2;
        }
      }
    }
  }
}

.home .mw-section-blue {
  background: $blue;
  color: $white;
  text-align: center;
  padding: ($padding * 4) 0;

  .mw-section-heading, .mw-section-body {
    width: 60%;
    margin: 0 auto;
  }
  .mw-section-logos {
    width: 100%;
    span {
      display: block;
      float: left;
      width: 10%;

      img {
        height: auto;
      }
    }
    span + span {
      margin-left: 2.5%;
    }
  }
}

.home .mw-section-white {
  text-align: center;
  padding: ($padding * 2) 0 0 0;

  .mw-section-heading {
    color: $green;
  }
  .mw-section-heading, .mw-section-body {
    width: 60%;
    margin: 0 auto;
  }
}

// stupid gears
.home main.content, .home .mw-tab-section, .home .mw-section {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 0;
  }
  &:after {
    position: absolute;
    bottom: -10px;
    left: 10%;
    z-index: 0;
  }
}

.home main.content {
  &:before {
    content: url( $images + "about-background-one.png" );
  }
  &:after {
    content: url( $images + "about-background-two.png" );
  }
}

.home .mw-tab-section {
  &:before {
    content: url( $images + "tab-section-background.png" );
    top: 10px;
    right: 35%;
  }
  &:after {
    content: "";
  }
}

.mw-section-green {
  &:before {
    content: url( $images + 'work-background-one.png' );
  }
  &:after {
    content: url( $images + 'work-background-two.png' );
    bottom: 10px;
    left: 40%;
  }
}

.mw-section-blue {
  &:before {
    content: url( $images + 'history-background-one.png' );
  }
  &:after {
    content: url( $images + 'history-background-two.png' );
  }
}

.mw-section-white {
  &:before {
    content: url( $images + 'news-background-one.png' );
  }
  &:after {
    content: url( $images + 'news-background-two.png' );
  }
}

// prefooter
aside.mw-prefooter {
  margin: 0;
  background: $black;

  div.mw-prefooter-block {
    padding: 0;
    height: auto;

    @media (min-width: 768px) {
      height: 400px;
    }
    @media (min-width: 992px) {
      height: 475px;
    }
    @media (min-width: 1200px) {
      height: 525px;
    }
    @media (min-width: 1400px) {
      height: 475px;
    }

    img {
      height: 100%;
      width: 100%;
      display: block;
    }

    .mw-section-title, .mw-section-meta, .mw-section-body {
      margin: 0;
      padding: 0;
    }

    .mw-section-title {
      margin: ($padding * 2) ($padding * 2) 0 ($padding * 2);
    }

    .mw-section-meta {
      margin: ($padding / 2) ($padding * 2);
    }

    .mw-section-body {
      margin: 0 ($padding * 2) ($padding * 2);
    }

    &.mw-prefooter-social {
      .mw-section-title, .mw-section-body, .mw-section-meta {
        color: $white;
      }
    }

    &.mw-prefooter-news {
      .mw-section-meta {
        color: $blue;
      }
    }

    .mw-button-continue {
      margin: 0 ($padding * 2) $padding;
      background: $white;
      color: $header;
      border-color: $white;

      &:hover {
        background: $header;
        border-color: $header;
        color: $white;
      }

      &:active {
        background: transparent;
        border-color: $header;
        color: $header;
      }
    }
  }

  .mw-prefooter-news {
    background: $green;
  }
  .mw-prefooter-social {
    background: $blue;
  }
}

/*** archive pages ***/
.page-template-page_archive {
  .mw-page-header {
    background: $red;
    padding: 0 5%;
    width: 100%;
    position: relative;

    .mw-page-heading {
      color: $white;
      text-align: center;
      font-size: 4rem;
      font-width: 900;
      text-transform: uppercase;
      padding: ($padding * 10) 0 ($padding * 2);
    }

    &:before {
      position: absolute;
      top: 0;
      right: 10%;
      z-index: 0;
      content: url( $images + "about-background-one.png" );
    }
    &:after {
      position: absolute;
      bottom: -10px;
      left: 10%;
      z-index: 0;
      content: url( $images + "about-background-two.png" );
    }
  }

  main.content {
    margin: 0 auto;
    width: 75%;
  }

  .mw-post-list {
    @media (min-width: $break-small) {
      .col-sm-4 {
        padding-left: 0;
      }
      .col-sm-8 {
        padding-right: 0;
      }
    }
  }

  article.mw-post-list-item {
    padding-top: $padding * 3;
    padding-bottom: $padding * 3;
    border-bottom: 1px solid $grey;

    &:last-child {
      border: none;
    }

    .mw-post-title {
      color: $blue;
      border-bottom: 1px dotted $grey;
      padding: $padding 0;
      margin: 0;
      @media (min-width: $break-small) {
        padding: 0 0 $padding;
      }
    }
    .mw-post-excerpt {
      padding: $padding 0;
      margin: 0;
    }
  }
}
