/***** Content *****/

//global
body {
  background-color: $white;
}

a.mw-button {
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background: $blue;
  border: 1px solid $blue;
//  box-shadow: 4px 4px 0 $bluedark;
  padding: $padding;
  display: inline-block;
  text-decoration: none;
  transition: color $time, background $time;

  &:hover {
    background: $bluedark;
//    border-color: $bluedark;
  }
  &:active {
    background: transparent;
    color: $blue;
  }

  &.mw-button-primary, &.mw-button-primary:visited {
    background: $green;
    border-color: $green;

    &:hover {
      background: $greendark;
    }
    &:active {
      background: transparent;
      color: $green;
    }
  }

  & + & {
    margin-left: $padding * 2;
  }
}

/*** homepage ***/
aside.mw-feature {
  background: url( $images + "hero-image.png") no-repeat center center;
  background-size: cover;
  margin-left: -1px;
  padding-top: $padding * 8;
  padding-bottom: $padding * 2;

  p.mw-feature-text {
    color: $white;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    strong {
      font-weight: 500;
      background-color: $bluedark;
      padding: 0 10px;
    }
  }
}

div.entry-content {
  padding: ($padding * 6) 0;
  text-align: center;

  div.col-sm-5, div.col-sm-7 {
    padding-bottom: $padding * 2;
    padding-top: $padding * 2;
  }

  &:before {
  }

  @media (min-width: $break-small) {
    text-align: left;
  }
}

// tab sections
.mw-tabs {
  background: $greylight;

  .mw-tabs-head {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .mw-tab {
    position: relative;
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    margin: 0;
    cursor: pointer;

    a {
      color: $header;
      text-decoration: none;
      padding-top: $padding;
      padding-bottom: $padding;
      display: block;
    }

    &:hover {
      background: rgba($purple, 0.3);

      a {
        color: $white;
      }
    }

    &.active {
      background: rgba($purple, 0.6);

      &:after {
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border: 20px solid transparent;
        border-top-color: $purplelight;
        left: 50%;
        margin-left: -20px;
      }

      &:hover{
        background: rgba($purple, 0.6);
      }

      a {
        color: $white;
      }
    }
  }
}

.mw-tab-section {
  background: $purple;
  color: rgba($white, 0.8);
  padding: ($padding * 4) 0;
//  display: none;

  &.mw-tab-section-current {
    display: block;
  }

  .mw-tab-heading {
    color: $white;
    text-transform: uppercase;
    width: 60%;
  }
  .mw-tab-body {
    width: 60%;
  }
}

// main sections
.mw-section-heading {
  color: $white;
  text-transform: uppercase;
  padding: ($padding * 2) 0;
}

.mw-section-body {
  padding-bottom: ($padding * 2);
}

.mw-section-green {
  background: $green;
  height: 1000px;
  position: relative;

  .mw-section-hero {
    position: absolute;
    left: 0;
    top: 0;
  }

  .mw-section-heading {
    margin-top: $padding * 8;
  }
}

.mw-section-blue {
  background: $blue;
  color: $white;
  text-align: center;
  padding: ($padding * 4) 0;

  .mw-section-heading, .mw-section-body {
    width: 60%;
    margin: 0 auto;
  }
  .mw-section-logos {
    width: 100%;
    span {
      display: block;
      float: left;
      width: 10%;

      img {
        height: auto;
      }
    }
    span + span {
      margin-left: 2.5%;
    }
  }
}

.mw-section-white {
  text-align: center;
  padding: ($padding * 4) 0;

  .mw-section-heading {
    color: $green;
  }
  .mw-section-heading, .mw-section-body {
    width: 60%;
    margin: 0 auto;
  }
}

// stupid gears
main.content, .mw-tab-section, .mw-section {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 0;
  }
  &:after {
    position: absolute;
    bottom: -10px;
    left: 10%;
    z-index: 0;
  }
}

main.content {
  &:before {
    content: url( $images + "about-background-one.png" );
  }
  &:after {
    content: url( $images + "about-background-two.png" );
  }
}

.mw-tab-section {
  &:before {
    content: url( $images + "tab-section-background.png" );
    top: 10px;
    right: 35%;
  }
  &:after {
    content: "";
  }
}

.mw-section-green {
  &:before {
    content: url( $images + 'work-background-one.png' );
  }
  &:after {
    content: url( $images + 'work-background-two.png' );
    bottom: 10px;
    left: 40%;
  }
}

.mw-section-blue {
  &:before {
    content: url( $images + 'history-background-one.png' );
  }
  &:after {
    content: url( $images + 'history-background-two.png' );
  }
}

.mw-section-white {
  &:before {
    content: url( $images + 'news-background-one.png' );
  }
  &:after {
    content: url( $images + 'news-background-two.png' );
  }
}

/*** archive pages ***/
.entry {
  padding: 0;
  margin: 0;
}
