/***** Footer ******/

footer.site-footer {
  color: $white;
  background: $red;
  padding: 0;
  text-align: left;
  position: relative;

  .row {
    margin: 0;
  }

  p {
    padding: $padding 0;
  }


  &:after {
    content: url( $images + 'footer-background.png');
    position: absolute;
    right: 0;
    bottom: -2px;
    z-index: 0;
  }
}

.mw-contact-info {
  background: $red;
  padding-top: $padding * 2;
  padding-bottom: $padding * 2;
  padding-left: 5%;
}

.mw-contact-form {
  background: $grey;
  padding-top: $padding * 2;
//  padding-bottom: $padding * 2;
  padding-bottom: 0;
  padding-right: 5%;
  position: relative;

  form {
    margin-left: -15px;
  }

  .mw-section-heading, .mw-section-body {
    padding-left: $padding * 2;
    padding-bottom: 0;
    position: relative;
    z-index: 1;
  }

  .mw-section-heading {
    padding-top: 0;
  }

  label {
    text-indent: -9999px;
    color: $grey;
  }

  input, select {
    margin: $padding 0;
    padding: $padding;
    background: transparent;
    color: $white;
    border: 1px solid $white;
    text-align: left;
  }

  ::placeholder {
    color: $white;
  }

  .wpcf7-submit {
    background: $blue;
    border-color: $blue;
    width: 100%;
    text-align: center;

    &:hover {
      background: $bluedark;
      border-color: $bluedark;
    }

    &:active {
      background: transparent;
      color: $blue;
    }
  }

  .wpcf7-not-valid-tip {
    display: none;
  }
  .wpcf7-not-valid {
    border-color: $red;
  }

  .wpcf7-response-output {
    margin: 0 ($padding * 2) $padding;
    width: 83.3334%;
    border: none !important;
    font-size: 1.1rem;
    font-weight: 700;

    &.wpcf7-validation-errors {
      color: $red;
    }

    &.wpcf7-mail-sent-ok {
      color: $blue;
    }
  }
}

.mw-site-info {
  padding-left: $padding * 2;
  position: relative;
  z-index: 2;

  .col-sm-8 {
    padding-left: 0;
  }

  p {
    padding: 0;
  }

  a {
    color: $white;
    text-decoration: underline;
    &:hover {
      color: $blue;
    }
  }
}
