/***** Header *****/

// Header
header.site-header {
  position: relative;
  width: 100%;
  z-index: 999;
  background: $green;
  text-align: center;
  min-height: inherit;

  h1.site-title {
    bottom: auto;
    left: 50%;
    margin-left: -73px;
    padding: 0;
    position: absolute;
    top: 0px;
    width: 147px;
    z-index: 100;

    a {
      background: url($images + "logo.png") no-repeat scroll left center transparent;
      height: 110px;
      position: relative;
      margin-top: 5px;

      &:before {
        content: "";
        background: url($images + "header-gear.png") no-repeat center;
        position: absolute;
        top: -15px;
        left: -49px;
        display: block;
        width: 253px;
        height: 182px;
        z-index: -1;
        transition: transform $time, left $time;
        transform: rotate(-5deg);
      }

      &:hover {
        &:before {
          transform: rotate(5deg);
          left: -53px;
        }
      }
    }
  }
}

// menus
.nav-primary, .nav-secondary {
  background: none;
  padding: 0;

  .genesis-nav-menu a {
    color: $header;
    text-transform: uppercase;
    padding-top: $padding;
    padding-bottom: $padding;
    font-size: 0.8rem;
    font-weight: bold;
    transition: color $time;

    &:hover {
      color: $bluedark;
    }
  }
  .genesis-nav-menu .current-menu-item a {
    color: $red;
  }

  .mw-menu-phone a:hover {
    color: $header;
  }
}

.nav-primary {
  float: left;
}

.nav-secondary {
  float: right;
}
