/***** Layout *****/

header.site-header div.wrap, footer.site-footer div.wrap, div.site-inner div.wrap {
  width: 94%;
  padding: 0 15px;
  max-width: none;
  margin: 0 3%;
}

div.site-inner {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}
