/***** Layout *****/

header.site-header div.wrap, footer.site-footer div.wrap, div.site-inner div.wrap {
  width: 90%;
  max-width: none;
  margin: 0 5%;
  padding: 0;

  & .container-wrap {
    padding: 0 15px;
  }
}

div.site-inner {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

main.content {
  float: none;
}
