/***** Variables *****/

// colors
$green: #dbdf1f;
$greendark: #d1d122;
$blue: #009bbc;
$bluedark: #048a9c;
$purple: #5d2e8d;
$red: #d71440;
$grey: #b9b9b9;
$greylight: #dddddd;
$header: #7f7f7f;
$white: #ffffff;

// spacing
$padding: 1rem;

// transitions
$time: 0.2s;

// stuff
$images: '../../assets/images/';