/***** Variables *****/

// colors
$green: #dbdf1f;
$greendark: #d1d122;
$blue: #009bbc;
$bluedark: #048a9c;
$bluelight: #58B5C9;
$purple: #5d2e8d;
$purplelight: #9074AD;
$red: #d71440;
$redlight: #D9647E;
$grey: #b9b9b9;
$greylight: #dddddd;
$header: #7f7f7f;
$white: #ffffff;
$black: #000000;

// spacing
$padding: 1rem;

// transitions
$time: 0.2s;

// breakpoints
$break-small: 768px;

// stuff
$images: '../../assets/images/';